@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans SC', sans-serif;
}

html {
    font-size: 9px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bgmail1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.container h1 {
  margin: 0;
  padding: 1rem;
  background-color: #EECA98;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  border-radius: 1.7rem 1.7rem 0 0;
}

.weather {
    width: 56rem;
    height: 50rem;
    border-width: 10rem;
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 1.7rem;
    border-width: 0.4rem;
}

.weather .userInput {
    height: 10rem;
    background-color: #193B61ff;
    border-bottom: 0.4rem solid white;
    border-radius: 1.7rem 1.7rem 0 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.userInput input {
    align-items: center;
    width: 43rem;
    height: 5rem;
    font-size: 2.7rem;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
}

.userInput span {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 5rem;
    font-size: 4rem;
    padding: 0.7rem;
    border-radius: 1rem;
    text-align: center;
    transition: ease-in-out 0.3s;
}

.userInput span:hover {
    background-color: rgb(209, 209, 209);
    transform: scale(0.94);
}

.weather .information {
    background-color: #e7fdff;
    height: 40rem;
    border-radius: 0 0 1.3rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.information div:first-child {
    width: 100%;
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.information div:nth-child(2) {
    width: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding-left: 2.5rem;
    margin-top: 2rem;
}

.information div:nth-child(2) span {
    flex-basis: calc(50% - 1.5rem);
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
}



.error {
    height: 40rem;
    background-color: #e7fdff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error label {
    color: rgba(251, 0, 0, 0.63);
    text-decoration: wavy;
    font-weight: 900;
    font-size: 3rem;
    padding: 1rem;
}

.loading {
    font-size: 4rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    html {
        font-size: 30%;
    }
}